
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;

  //color-scheme: light;
  color-scheme: light;

  @include mat.theme((
    color: mat.$blue-palette,
    // (
    //   primary: mat.$azure-palette,
    //   tertiary: mat.$blue-palette,
    // ),
    typography: Roboto,
    density: 0,
  ));

  @include mat.checkbox-overrides((
    label-text-size: large
  ));

}

body {
  //color-scheme: light;

  overflow: hidden;

  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);


  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

body.dark-mode {
  color-scheme: dark;
}

body.light-mode {
  color-scheme: light;
}


.full-width{
  width: 100%;
}

.width-x {
  margin: 18px auto 0 auto;
  width: 80%;
  min-width: 400px;
  max-width: 1200px;
  /* height: 100%; */
  overflow-y: auto;
  height: calc(100% - 80px);
}

.width-l{
  margin: 30px auto;
  width: 100%;
  max-width: 600px;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: var(--mat-form-field-container-vertical-padding, 8px) !important;
    padding-bottom: var(--mat-form-field-container-vertical-padding, 8px) !important;
}

