<!-- <app-kanban-board></app-kanban-board> -->
<div>
    <div class="header">
      <h1>Доска задач</h1>

      <div class="settings">
        @if (this.authService.isLogin){
          <button matMiniFab routerLink="changepass">
            <mat-icon>manage_accounts</mat-icon>
          </button>
        }
        @if (this.authService.isAdmin()) {
          <button  matMiniFab routerLink="settings">
            <mat-icon>settings</mat-icon>
          </button>
        }
      </div>
    </div>
    <router-outlet></router-outlet>
</div>

