@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides((
    container-color: orange,
    subhead-color: red,
  ));
}

.form-width-full{
  width: 100%;
}

.deadline-time{
  margin-bottom: 15px;
  display: flex;

  .deadline{
    margin-right: 20px;

  }

}

