.board {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}

.card{

}


.card-body{
  min-height: 50px;
  //margin: 10px 0 5px 0;
}

.card-header{
  font-weight: 500;
}

.task-number{
  margin: 0 5px 0  0;
  font-weight: 200;
}

.column {
  width: 30%;
  height: 100%;
  min-height: 400px;
  background: #f5f5f5;
}

.task-list {
  min-height: 300px;
  height: 100%;
  background: white;
  border: 1px dashed #ddd;
  border-radius: 4px;
  padding: 0.5rem;
}

.task-item {
  background-color: white;
  cursor: move;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-bottom: 15px;
  //margin: 5px;
  height: unset !important;
  margin-bottom: 10px;
}

.task-row{
  display: flex;
}
