
.tab{
  width: 100%;


}

.width{
  width: 100%;
}

.list{
  max-width: 500px;
}

.card-row{

    margin: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px 30px;

  .card-title {
    border-bottom: 1px solid #e0e0e0;
    font-size: x-large;
  }

  .card-prop{
    border-bottom: 1px solid #e0e0e0;
    font-size: large;

    display: flex;

    p{
      margin: 8px 2px 0 0;
    }

    .card-prop-width{
      min-width: 300px;
      width: 100%;
    }
  }

  .card-checkbox{
    font-size: large;
  }

  .card-action{
    margin: 20px 0;

    button{
      margin-right: 20px;
    }

  }

  .card-color{
    width: 30px;
    height: 30px;
    margin: 28px 10px;

  }

}

.card-action{

      margin: 10px 25px;

}

.header{
  margin: 15px 0;
}

.actions{
  margin: 25px;

  button{
    width: 150px;
  }

}

@media (max-width: 767px) {


  .mat-expansion-panel-header-description{
    max-height: 68px;
    align-items: start;
    // text-overflow: ellipsis;
    // white-space: nowrap;  /* Запретить перенос строк */
    // overflow: hidden;
  }

  .card-row{
    margin: 10px 0;

  }




}


