<div class="width-x">

  <mat-tab-group>

     <mat-tab label="Исполнители" class="tab">
        <mat-list class="list">
          <div mat-subheader>Исполнители</div>
          @for (executor of this.taskService.executors; track executor) {
            <mat-list-item>
                <mat-icon matListItemIcon>account_circle</mat-icon>
                <div matListItemTitle>
                  <mat-form-field class="width">
                    <input type="text" matInput [(ngModel)]="executor.name">
                  </mat-form-field>
                </div>
                <div matListItemLine>{{executor.updateAt | date}}</div>
                <div matListItemMeta>
                  <button matButton="filled" (click)="this.saveEx(executor)">
                    Сохранить
                  </button>
                </div>
            </mat-list-item>
          }
        </mat-list>
      <div class="card-action">
        <button matButton="tonal" (click)="this.addEx()">
          Добавить
        </button>
      </div>




     </mat-tab>

    <mat-tab label="Статусы задач" class="tab">

      @for(state of this.taskService.statuses; track $index){
        <div class="card-row">
          <p class="card-title">
            {{state.name}}
          </p>
          <div class="card-prop">
            <mat-form-field class="card-prop-width">
              <label for="title">Название</label>
              <input type="text" id="title" matInput [(ngModel)]="state.name">
            </mat-form-field>
          </div>
          <div class="card-prop">
            <mat-form-field class="card-prop-width">
              <label for="title">Номер по порядку</label>
              <input type="number" id="number" matInput [(ngModel)]="state.orderNumber">
            </mat-form-field>
          </div>
          <div class="card-prop">
            <p>
              Отображение статуса на доске
            </p>
            <mat-checkbox [(ngModel)]="state.isHidden" class="card-checkbox">
              Скрыть
            </mat-checkbox>
          </div>
          <div class="card-action">
            <button matButton="filled" (click)="this.save(state)">
              Сохранить
            </button>
          </div>
        </div>
      }
    </mat-tab>
    <mat-tab label="Типы задач">
      @for(t of this.taskService.types; track $index){

        <div class="card-row">
          <p class="card-title">
            {{t.name}}
          </p>
          <div class="card-prop">
            <mat-form-field class="card-prop-width">
              <label for="title">Название</label>
              <input type="text" id="type_title" matInput [(ngModel)]="t.name">
            </mat-form-field>
          </div>
          <div class="card-prop">
            <mat-form-field class="card-prop-width">
              <label for="title">Цвет</label>
              <input type="text" id="type_title" matInput [(ngModel)]="t.color">
            </mat-form-field>
            <div class="card-color"
                  [style]="'background-color:'+t.color">
            </div>
          </div>
          <div class="card-action">
            <button matButton="filled" (click)="this.saveType(t)">
              Сохранить
            </button>
            <button matButton="outlined" (click)="this.delete(t)">
              Удалить
            </button>
          </div>

        </div>
      }

      <div class="card-action">
        <button matButton="tonal" (click)="this.addType()">
          Добавить
        </button>
      </div>
    </mat-tab>


  </mat-tab-group>

  <!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Статусы задач </mat-panel-title>
        <mat-panel-description>
          Здесь вы можете настроить отображение статусов задач.
        </mat-panel-description>
      </mat-expansion-panel-header>


    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Типы задач </mat-panel-title>
        <mat-panel-description>
          Настрока типов задач
        </mat-panel-description>
      </mat-expansion-panel-header>


    </mat-expansion-panel>
  </mat-accordion> -->

  <div class="actions">
    <button matButton="outlined" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      Назад
    </button>
  </div>

</div>
