<div class="passForm width-l">
  <div class="title">
    Смена пароля
  </div>
  <div>
    <mat-form-field class="pass-full-width">
      <mat-label>Старый пароль:</mat-label>
      <input matInput type="password" id="oldPassword" [formControl]="this.passFormControl" class="form-control" >
      @if (this.passFormControl.hasError('required')) {
        <mat-error>Поле обязательно для заполнения</mat-error>
      }
      @if (passFormControl.hasError('minlength')) {
        <mat-error>Пароль должен содержать не менее 8 символов</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="pass-full-width">
      <mat-label>Новый пароль:</mat-label>
      <input matInput type="password" id="newPassword" [formControl]="this.newFormControl" class="form-control" >
      @if (this.newFormControl.hasError('required')) {
          <mat-error>Поле обязательно для заполнения</mat-error>
      }
      @if (newFormControl.hasError('minlength')) {
          <mat-error>Пароль должен содержать не менее 8 символов</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="pass-full-width">
      <mat-label>Подтвердите новый пароль:</mat-label>
      <input matInput type="password" id="newPassword" [formControl]="this.confirmFormControl" class="form-control" >
      @if (this.confirmFormControl.hasError('required')) {
        <mat-error>Поле обязательно для заполнения</mat-error>
      }
      @if (confirmFormControl.hasError('minlength')) {
        <mat-error>Пароль должен содержать не менее 8 символов</mat-error>
      }
      @if (confirmFormControl.value != newFormControl.value){
        <mat-error>Пароль и подтверждение пароля должны совпадать</mat-error>
      }
    </mat-form-field>
  </div>

  @if(showResultMessage) {
    <div [ngClass]="this.isError ? 'error_change' : 'ok_change' " class="message ">
      {{this.message}}
    </div>
  }

  <div class="actions">
    <button matButton="outlined" routerLink="/">
      Отмена
    </button>
    <button matButton="filled" class="btn btn-primary" [disabled]="this.passFormControl.invalid ||
           this.newFormControl.invalid || this.newFormControl.invalid" (click)="this.onSubmit()">
      Сменить пароль
    </button>
  </div>
</div>
