
.passForm{

  .message{
    margin-bottom: 30px;
  }

  .error_change{
    color: red;
    font-weight: 500;
  }

  .ok_change{
    color: forestgreen;
    font-weight: 500;
  }

  .title{
    font-size: x-large;
    margin-bottom: 30px;
  }

  .pass-full-width{
      min-width: 300px;
      max-width: 600px;
      width: 100%;
      margin-bottom: 25px;
  }

  .form-control{
    width: 100%;
  }

  .actions{
    //margin: 25px ;

    button{
      width: 40%;
      margin-right: 50px;
    }

  }
}
